[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
spotipy = "*"
jupyter = "*"
pandas = "*"
dnspython = "*"
pymongo = "*"
pyssl = "*"
python-dotenv = "*"
tqdm = "*"
pyodbc = "*"
mysql-connector-python = "*"
sqlalchemy = "*"
pymysql = "*"
cryptography = "*"
lightgbm = "*"
shortuuid = "*"
lazypredict = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.9"
