[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
spotipy = "*"
jupyter = "*"
pandas = "*"
dnspython = "*"
pymongo = "*"
pyssl = "*"
python-dotenv = "*"
tqdm = "*"
pyodbc = "*"
cryptography = "*"
lightgbm = "*"
shortuuid = "*"
lazypredict = "*"
scikit-learn = "*"
matplotlib = "*"
plotly = "*"
requests = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
invoke = "*"

[requires]
python_version = "3.10"
